body{
	background-color: #F6F7FF;
	font-family: "Poppins", sans-serif;
	min-height: 3600px;
}

.disappear{
	display: none;
}

.clearfloat:after{
	display: block;
	clear: both;
	content: "";
}

.navbar{
	background-color: #4A63E7;
}

.navbar a{
	color:#fff;
}

.headline{
	color: #000;
    font-weight: 700;
}

.text{
	color: #888;
	margin-bottom: 20px;
	padding-left: 0;
    padding-right: 0;
}

.headline:after{
	content: "";
    background: #FF5959;
    border-radius: 25px;
    display: block;
    height: 5px;
    margin-top: 20px;
    width: 30px;
}

.active{
	padding-left: 30px;
	position:relative;
}
.active:before{
	content: "";
    background: #FF5959;
    display: block;
    height: 34px;
    left: -30px;
    top: 0px;
    position: absolute;
    width: 3px;
}

#nav-sidebar{
	background-color: #4A63E7;
	top:50px;
	border-radius: 20px;
	height:620px;
	position: fixed;
	color:#fff;
}

.name{
	font-size: 28px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 3px;
}

.name:after{
	content: " ";
    background-color: #FF5959;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    height: 8px;
    width: 8px;
}

.poste{
	font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.nav-item{
	margin-top: 15px;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	cursor: pointer;
}

.nav-item > span {
	margin-right: 10px;
}

.content1{
	box-sizing: border-box;
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	padding: 30px;
}

#photo{
	width: 70px;
	height: 90px;
}

#homeContent{
	margin-top: 50px;
}

.detail2{
	box-sizing: border-box;
	border-radius: 20px;
	color:#fff;
	background-image: url('./img/back7.jpg');
	background-size: 100% 100%;	
	z-index: 2;
}

.content2:after{
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;	
	background-color: #4A63E7;
	opacity: 0.9;
	z-index: 3;
	border-radius: 20px;
}

.content2{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 620px;
    padding: 0 50px;
    z-index: 2;
}

.content2 > .row{
	z-index: 4;
}

.content2-item{
	margin-bottom: 30px;
} 


.hello1,.hello2{
	color: #FFF;
    font-size: 60px;
    font-weight: 700;
}

.hello2:after{
	content: " ";
    background-color: #FF5959;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    width: 13px;
}

@media screen and (max-width : 768px){
	.hello1,.hello2{
		color: #FFF;
	    font-size: 40px;
	    font-weight: 700;
	}
	.hello2:after{
		content: " ";
	    background-color: #FF5959;
	    border-radius: 50%;
	    display: inline-block;
	    margin-left: 5px;
	    height: 7px;
	    width: 7px;
	}
}

.detail3{
	margin-top: 50px;
	background-color: #fff;
	border-radius: 20px;
	position: relative;
}

.content3{

	box-sizing: border-box;
	padding: 50px;
	width: 100%;
	position: relative;
}

.detail4{
	margin-top: 50px;
	background-color: #fff;
	border-radius: 20px;
	position: relative;
}

.content4{
	box-sizing: border-box;
	padding: 50px;
	width: 100%;
	height: 100%;
	position: relative;
}

.detail5{
	margin-top: 50px;
	background-color: #4A63E7;
	border-radius: 20px;	
	color:#fff;
	position: relative;
}

.content5{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: relative;
}

.content5 > .row {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.content5 > .row > div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.detail6{
	margin-top: 50px;
	background-color: #fff;
	border-radius: 20px;
	color:#fff;
	position: relative;
}

.content6{
	box-sizing: border-box;
	padding: 50px;
	width: 100%;
	height: 100%;
	position: relative;
}

.projet-title{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}

.card{
	height:240px;
}

a:hover, a:visited, a:active, a:link{
	text-decoration: none;
}

.detail7{
	margin-top: 50px;
	background-color: #fff;
	border-radius: 20px;
	color:#fff;
	position: relative;
}

.content7{
	box-sizing: border-box;
	padding: 50px;
	width: 100%;
	height: 100%;
	position: relative;
}

.timeline-line{
	position: absolute;
    top: 130px;
    left: 225px;
    bottom: 60px;
    width: 1.5px;
    background: #FF5959;
}

.timeline-line:after,.timeline-line:before{
	content: "";
    display: block;
    border-radius: 100%;
    background: #FF5959;
    position: absolute;
    left: -3.5px;
    height: 7px;
    width: 8px;
}

.timeline-line:before{
	top: 0;
}

.timeline-line:after{
	bottom: 0;
}

.time:after{
	content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border: 1px solid #FF5959;
    background-color: #fff;
    border-radius: 100%;
    padding: 4.5px;
    top: 15%;
    right: -19px;
}

.caption{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail8{
	width: 100%;
	height: 100%;
	margin-top: 50px;
	background-color: #4A63E7;
	border-radius: 20px;	
	color:#fff;
}

.content8{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 50px;
}

.work-item{
}

.work-item-location{
	font-size: 16px;
	font-weight: bold;
	display: flex;
    align-items: center;
}

.work-item-time{
	display: flex;
	justify-content: flex-end;
}

.work-item-subject-list-item{
	display: flex;
	flex-direction: row;
}

.work-item-subject-list-icon{
	display: flex;
}

.work-item-subject-list-content{

}

.work-item-subject-list-content-title{
	font-weight: bold;
	font-size: 15px;
}

.work-item-subject-list-content-poste{
	
}

.work-item-subject-list-content-desc{
	
}
